:root {
    --square-side: 2.5vw;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 2vw;
}

.square-div {
    width: var(--square-side);
    height: var(--square-side);
    border: 1px solid black;
    flex-shrink: 0;
}

.row-cont {
    display: flex;
    flex-flow: row;
}


.main-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.etch-cont {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vw;
}

.length-popup-cont {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.vertical-line {
    float: center;
    position: fixed;
    height: 120vh;
    left: 50vw;
    width: 5px;
    background-color: black;
}

.title-cont {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5vh;
}
